<section class="stat-list">
  <div class="stat-row">
    <div class="stat-label">전체 복무일</div>
    <div class="stat-value" id="stat-total-days">0</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">현재 복무일</div>
    <div class="stat-value" id="stat-current-days">0</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">핫앤쿡 (10분)</div>
    <div class="stat-value" id="stat-next-rank-hot-and-cook">0.000000개</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">전투식량 III형 (15분)</div>
    <div class="stat-value" id="stat-next-rank-ration-iii">0.000000개</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">레이드 시작 후 흐른 시간 (타르코프)</div>
    <div class="stat-value" id="stat-escape-from-tarkov-time">0일 00:00:00</div>
  </div>
  <div class="stat-row">
    <div class="stat-label">레이드 종료까지 남은 시간 (타르코프)</div>
    <div class="stat-value" id="stat-escape-from-tarkov-time-until-discharge">0일 00:00:00</div>
  </div>
</section>
